.DS_Store
.vscode
*.egg-info
*.iml
*.code-workspace
.direnv
.devenv
.envrc
.idea
__pycache__/
project_book/
src/polars-splines/target/
src/experiment/driven_nickelate/raw_data/
src/experiment/driven_nickelate/simulations/data/
src/experiment/driven_nickelate/processed_data/
src/experiment/driven_nickelate/build/
src/experiment/driven_nickelate/characterization/transport/raw_data/
src/experiment/driven_nickelate/characterization/imaging/data/
